<ul>
	<li><%= link_to 'Energy Usage', energy_usage_path %></li>
	<li><%= link_to 'Putnam Temperature', putnam_current_temperatures_path %></li>
	<li><%= link_to 'Putnam Set Temperature', putnam_set_temperatures_path %></li>
	<li><%= link_to 'Putnam Heating Status', putnam_heating_status_path %></li>
	<li><%= link_to 'Karori Temperature', karori_temperatures_path %></li>
	<li><%= link_to 'Karori Wind', karori_wind_path %></li>
</ul>